<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">LHH's Candidates</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Candidates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/netdev">.NET Developer</a>
                    <a class="dropdown-item" href="/AWSDevOps">AWS DevOps</a>
                    <a class="dropdown-item" href="/backend">Backend Developer</a>
                    <a class="dropdown-item" href="/dataAnalyst">Data Analyst</a>
                    <a class="dropdown-item" href="/dataEngineer">Data Engineer</a>
                    <a class="dropdown-item" href="/dataScientist">Data Scientist</a>
                    <a class="dropdown-item" href="/DirectorOfIT">Director of Information Technology</a>
                    <a class="dropdown-item" href="/frontend">Frontend Developer</a>
                    <a class="dropdown-item" href="/ITManager">Information Technology Manager</a>
                    <a class="dropdown-item" href="/pythonDev">Python Developer</a>
                    <a class="dropdown-item" href="/QAEngineer">QA Engineer</a>
                    <a class="dropdown-item" href="/VPofDev">Vice President of Development</a>
                    <a class="dropdown-item" href="/wordpressDev">WordPress Developer</a>
                    <a class="dropdown-item" href="/xamarinDev">Xamarin Developer</a>
                </div>
            </li>
        </ul>
    </div>
</nav>