<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Daniel Wernz's Candidates</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Candidates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="netdev.html">.NET Developer</a>
                    <a class="dropdown-item" href="awsdevops.html">AWS DevOps</a>
                    <a class="dropdown-item" href="backend.html">Backend Developer</a>
                    <a class="dropdown-item" href="dataAnalyst.html">Data Analyst</a>
                    <a class="dropdown-item" href="DataArchitect.html">Data Architect</a>
                    <a class="dropdown-item" href="DataScientist.html">Data Scientist</a>
                    <a class="dropdown-item" href="directorOfIT.html">Director of Information Technology</a>
                    <a class="dropdown-item" href="frontend.html">Frontend Developer</a>
                    <a class="dropdown-item" href="ITManager.html">Information Technology Manager</a>
                    <a class="dropdown-item" href="pythonDeveloper.html">Python Developer</a>
                    <a class="dropdown-item" href="QAEngineer.html">QA Engineer</a>
                    <a class="dropdown-item" href="VPofDevelopment.html">Vice President of Development</a>
                </div>
            </li>
        </ul>
    </div>
</nav>