<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the LHH MPC Site</h1>
      <p class="lead">
        Below are some of the candidates that we are currently working with that are seeking their next 
        job opportunity. If you or anyone in your network can use them or their experience, please 
        either use the "Request more information" button on their individual profiles to let Daniel Wernz know 
        you would like to work with that candidate or schedule a meeting if you require a different 
        skill set that is not present.
      </p>
      <a href="mailto:Daniel.Wernz@LHH.com?subject=Schedule a Meeting to work with You and LHH
        &body=Hello Daniel,
        %0D%0A%0D%0AI would like to schedule a meeting with you at your earliest convenience to discuss working with your candidates.
        %0D%0A%0D%0AWhen is a good time to meet?" 
        class="btn btn-primary btn-center home-btn">
        Let's Schedule a Meeting
      </a>
    </div>
  </div>