<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Mid-Level AWS DevOps Engineer</h5>
        <hr />
        <p class="card-text">
            Well-rounded AWS DevOps/DevSecOps Engineer, AWS Solutions Architect with over six years of 
            experience in the AWS Cloud.
        </p>
        <a href="/awsdevops">Read More</a>
    </div>
</div>