<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
      <h5 class="card-title">Senior Cybersecurity Technician</h5>
      <hr />
      <p class="card-text">
        Over 30 years of experience in the cybersecurity industry working across many roles such as:
        Manager of Network and Security Operations for large scale Internet-facing companies.
      </p>
      <a href="/cybersecurity">Read More</a>
    </div>
  </div>