<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Data Scientist</h5>
        <hr />
        <p class="card-text">
            Specializing in continuous improvement by capturing, cleaning, and analyzing data 
            to communicate informed business decisions and insights. Skilled at learning, 
            teaching, and implementing effective methodologies, which in turn helps to improve
            productivity, efficiency, and quality standard adherence.
        </p>
        <a href="/dataScientist">Read More</a>
    </div>
</div> 