<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Mid-Level Data Analyst</h5>
        <hr />
        <p class="card-text">
            Over six years of experience in various analytical roles such as Quality Analyst and 
            Business Intelligence Analyst.
        </p>
        <a href="/dataAnalyst">Read More</a>
    </div>
</div> 