<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Data Engineer</h5>
        <hr />
        <p class="card-text">
            IT leader with over 15 years of repeated success in driving development and implementation 
            of innovative technology, data analytics, and business intelligence solutions to improve 
            operations, quality control, and overall productivity across the enterprise.
        </p>
        <a href="/dataEngineer">Read More</a>
    </div>
</div> 