<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Director of Information Technology</h5>
        <hr />
        <p class="card-text">
            Experienced Technology Director with hands-on experience in system engineering and production 
            support.
        </p>
        <a class="btn-center btn btn-primary" href="/directorOfIT">Read More</a>
    </div>
</div> 