<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Senior Frontend Developer</h5>
        <hr />
        <p class="card-text">
            Seven years in Software Development, designing and developing frontend systems using React and 
            Vue.
        </p>
        <div class="test">
            <a href="/frontend">Read More</a>
        </div>
    </div>
</div>