<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Information Technology Manager</h5>
        <hr />
        <p class="card-text">
            Over 17 proven years of competitive experience in the IT/Software industry.
            <br />
            Directed the implementation of a proven software development methodologies.
            <br />
            Re-architected the application's platform through consolidating technologies with a focus on production deliverables and customer needs.
        </p>
        <a href="#">Read More</a>
    </div>
</div>