<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Information Technology Manager</h5>
        <hr />
        <p class="card-text">
            An effective, organized team leader with over 20 years of experience in the area of IT Operations 
            Support in engineer, lead, and management roles.
        </p>
        <a class="btn-center btn btn-primary" href="/ITManager">Read More</a>
    </div>
</div> 