<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">.NET Developer</h5>
        <hr />
        <p class="card-text">
            Over seven years of technical experience designing and developing client/server applications, 
            web applications, and web services using Microsoft .NET.
        </p>
        <div class="test">
            <a href="/netdev">Read More</a>
        </div>
       
    </div>
</div>