<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Python Developer</h5>
        <hr />
        <p class="card-text">
            Over five years of combined work experience in Analysis, Design, Web Application 
            Development, Management and Implementation of various stand alone, client-server 
            enterprise applications.
        </p>
        <a href="/pythonDev">Read More</a>
    </div>
</div> 