<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">QA Engineer</h5>
        <hr />
        <p class="card-text">
            Professional with fifteen years of experience and the desire, drive, and knowledge
            to lead a team to success. Possesses the skill set to inspect, test, diagnose, 
            troubleshoot, and repair malfunctions for complete mechanical systems.
        </p>
        <a class="btn-center btn btn-primary" href="/QAEngineer">Read More</a>
    </div>
</div> 