<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <hr />
        <p class="card-text">
            Summary
        </p>
        <a href="#">Read More</a>
    </div>
</div>