<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Vice President of Development</h5>
        <hr />
        <p class="card-text">
            Over 25 years of profession experience offering a vast and diversified experience in the 
            construction business having worked on a variety of projects that spans from residential 
            projects such as custom homes, residential condos, and affordable houses to massive 
            Infrastructure projects such as airports and nuclear power plants in some parts of the 
            world as a Field Civil Engineer.
        </p>
        <a class="btn-center btn btn-primary" href="/VPofDevelopment">Read More</a>
    </div>
</div> 