<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">WordPress Developer</h5>
        <hr />
        <p class="card-text">
            Over eight years in Software Development, creating websites using a variety of technologies such as WordPress and Drupal.
        </p>
        <a class="btn-center btn btn-primary btn-bottom" href="/wordpressDev">Read More</a>
    </div>
</div>