<div class="card col-sm-12 col-lg-3">
    <div class="card-body">
        <h5 class="card-title">Xamarin Developer</h5>
        <hr />
        <p class="card-text">
            Over nine years of Xamarin experience - Cross platform native UIs in XAML and MVVM patter.
        </p>
        <a class="btn-center btn btn-primary btn-bottom" href="/xamarinDev">Read More</a>
    </div>
</div>