<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Mid-Level Backend Developer</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            
        <div class="card candidate">
            <div class="card-header">
                <h3>Backend Developer</h3>
                <h5>Recruiter: Daniel Wernz</h5>
                <h6>ID: 25528064</h6>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <ul>
                        <li>Four years of professional software development experience with various technologies.</li>
                        <li>Comfortable with Frontend, Full stack, and Backend roles but prefers backend-oriented positions.</li>
                        <li>Experience with updating legacy systems to modern systems.</li>
                        <li>
                            Designed and implemented an inventory system to track the stages of different items, such as purchase 
                            order request placement, item receivable, production tracking, and reconciliation.
                        </li>
                        <li>
                            Technical Skills: C++, winhttp, JSON, C#, C, Curl, OpenSSL, Boost, ASP.NET, RESTful API, Python, Django, 
                            SQLite, .NET, Viper, XAML, WPF, ObjectPAL, Microsoft SQL Server, MySQL, Azure, HTML, CSS, JavaScript, React, Java, Angular
                        </li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Backend Developer Candidate
                            &body=Hello Daniel,
                            %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Backend Developer candidate.
                            %0D%0A%0D%0AFor quick reference, the ID number is 25528064." 
                            class="btn btn-primary btn-center">Request more information
                        </a>
                    </ul>
                </blockquote>
            </div>
        </div>

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>