<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>

        <!-- Change -->
        <Title>Senior Cybersecurity Technician</Title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>

            <div class="card candidate">
                <div class="card-header">
                  <h3>Cybersecurity Technician</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25195837</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>
                          Over 30 years of experience in the cybersecurity industry working across many roles such as:
                          Manager of Network and Security Operations for large scale Internet-facing companies.
                        </li>
                        <li>
                          Developed and implemented numerous solutions for customers, with real-time data replication 
                          between multiple officers to alternate off-site facilities.
                        </li>
                        <li>
                          Over 18 years of experience in Virtualization with VMware, vSphere Administrator ESX, ESXi,
                          View/Horizon, Virtual Center, HA & DRS and more.
                        </li>
                        <li>Multiple years of Policies and Procedures from Analytic Data Sources.</li>
                        <li>Ability to design Secure Technology, Connectivity and 24/7 up to access, typically reducing 
                          internal operating expenditures.</li>
                        <li>CISCO specialist with Routers, Switches, experience in Back-up and Recovery Strategy & Design,
                          Web and Link Load Balancing expert; and a Check Point Certified Professional.
                        </li>
                        <li>
                          Well versed in Identity Access Control Systems & Methodologies, Network Security, Application & 
                          Systems Development Security, Security Architecture & Models, Operations Security, Physical Security,
                          Laws, Investigations, & Ethical Security Practices.
                        </li>
                        <li>
                          Breadth of knowledge with SAN, NAS, iSCSI Technologies, including IBM Storage, NetApp, EMC Storage
                          & Data Replication via products like EMC Recovery Point for SAN-to-SAN Replication.
                        </li>
                        <li>
                          Expertise/Skills: Firewalls/IDS/IPS, Networking, Identity Access Management, Okta, Data
                          Loss Protection, Network Architecture Design, Multiple Virtualization Solutions, SIEM
                          Technologies, Numerous Endpoint Security Solutions, RSA Authentication Manager, PING,
                          Vulnerability Management, Web Server Architecture, Analytic Data Analysis
                        </li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Cybersecurity Technician Candidate
                        &body=Hello Daniel,
                        %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Cybersecurity Technician candidate.
                        %0D%0A%0D%0AFor quick reference, the ID number is 25195837." 
                        class="btn btn-primary btn-center">Request more information
                      </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>