<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Senior Data Engineer</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <div class="card candidate">
                <div class="card-header">
                  <h3>Data Engineer</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25329208</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>
                          IT leader with over 15 years of repeated success in driving development and implementation 
                          of innovative technology, data analytics, and business intelligence solutions to improve 
                          operations, quality control, and overall productivity across the enterprise.
                          <ul>
                            <li>Accomplished in overseeing project and change management by balancing concurrent 
                              projects, directing teams, and coordinating priorities.</li>
                            <li>Proven record of contributing to all aspects of market research data collection, 
                              and audience measurement operations from data collection, and audience measurement
                              operations from data collection through data analysis.
                            </li>
                            <li>
                              Known for blending collaborative leadership styles and relationship building skills 
                              to liaise with clients, management, and end users and develop high-performing teams
                              and solutions that deliver results.
                            </li>
                          </ul>
                        </li>
                        <li>
                          Technical Proficiencies: Linux, UNIX, Windows OS, Python, R, SQL, XML, Microsoft SQL 
                          Server, J Script, .NET, CSS, HTML, VB.NET, JIRA, AgileCraft, Data Networking TCP/IP Concepts,
                          Confirmit Horizons, Visual Studio, Eclipse, SSMS, R Studio, Jupyter Notebooks, SaaS, Microsoft
                          Office.
                        </li>
                        <li>
                          Core Competencies:
                          <ul>
                            <li>Team Leadership, Staff Training & Development</li>
                            <li>Software Development Life Cycle (SDLC)</li>
                            <li>Enterprise Applications & Web-based Applications</li>
                            <li>Data Analysis, Data Mapping, Data Management, Data Export and Import (ETL)</li>
                            <li>Project Management</li>
                            <li>Quality Assurance</li>
                            <li>Business Intelligence/Data Analytics</li>
                            <li>User Acceptance Testing (UAT)</li>
                            <li>Critical Maintenance Fixes, Debugging, Troubleshooting & Problem Resolution</li>
                            <li>Change Management & Disaster Recovery</li>
                            <li>Agile & Scrum Methodologies</li>
                            <li>Survey Research, Sampling, Survey Data Analysis/Processing</li>
                            <li>Digital Transformation</li>
                            <li>Data Visualization/Data Science</li>
                          </ul>
                        </li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Data Engineer Candidate
                            &body=Hello Daniel,
                            %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Data Engineer candidate.
                            %0D%0A%0D%0AFor quick reference, the ID number is 25329208." 
                            class="btn btn-primary btn-center">Request more information
                          </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>