<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Mid-Level Data Analyst</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            
            <div class="card candidate">
                <div class="card-header">
                  <h3>Data Analyst</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 22747761</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>Over six years of experience in various analytical roles such as Quality Analyst and Business Intelligence Analyst.</li>
                        <li>
                          Created test plans and test scripts based on the higher/lower level design documents. Worked extensively with the Line 
                          of Business and User Acceptance testing resources to cover total functionality for the System Integration testing, 
                          including end-to-end and regression testing.
                        </li>
                        <li>Applications/Software/Products: Oracle E-Business Suite 11i and R12, Workday</li>
                        <li>Development Tools/Languages: PL-SQL, SQL, Unix Shell Scripting, JavaScript, Teradata</li>
                        <li>Hardware/Operating Systems: Red Hat Linux, Windows Vista/7/8</li>
                        <li>General Tools: SQL Developer, Oracle Toad, Microsoft Office Suite</li>
                          <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Data Analyst Candidate
                            &body=Hello Daniel,
                            %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Data Analyst candidate.
                            %0D%0A%0D%0AFor quick reference, the ID number is 22747761." 
                            class="btn btn-primary btn-center">Request more information
                          </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>