<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Mid-Level Data Scientist</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <div class="card candidate">
                <div class="card-header">
                  <h3>Data Scientist</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25267916</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                      <li>
                        Specializing in continuous improvement by capturing, cleaning, and analyzing data 
                        to communicate informed business decisions and insights. Skilled at learning, 
                        teaching, and implementing effective methodologies, which in turn helps to improve
                        productivity, efficiency, and quality standard adherence.
                      </li>
                      <li>Five years of experience as a Continuous Improvement Engineer</li>
                      <li>
                        Technical Skills: Process Analysis and Improvement, Agile Project Management, Data 
                        Visualization, Dashboards, Jupyter Notebook, Matplotlib, Scikit-learn, SQL, Data
                        Analytics, Data Cleaning, Effective Communication, Training Enhancement, Python,
                        NumPy, Pandas, Microsoft Excel.
                      </li>
                      <li>B.S. Political Science</li>
                      <li>Expected Graduation Aug 2023 - M.S. Data Science</li>
                      <li>
                        Achievements:
                        <ul>
                          <li>IBM Data Science Professional Certificate</li>
                          <li>IBM Data Analyst Professional Certificate</li>
                          <li>IBM Data Engineer Professional Certificate</li>
                          <li>Google Project Management Professional Certificate</li>
                          <li>Google Data Analytics Professional Certificate</li>
                          <li>Six Sigma Black Belt - University System of Georgia</li>
                          <li>Lean Six Sigma Black Belt - Six Sigma Academy Amsterdam</li>
                          <li>Data Science 2022 Boot Camp - 365 Careers</li>
                        </ul>
                      </li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Data Scientist Candidate
                        &body=Hello Daniel,
                        %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Data Scientist candidate.
                        %0D%0A%0D%0AFor quick reference, the ID number is 25267916." 
                        class="btn btn-primary btn-center">Request more information
                      </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>