<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Director of IT</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <!-- Insert information here. -->
            <div class="card candidate">
                <div class="card-header">
                  <h3>Director of Information Technology</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25338123</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>Experienced Technology Director with hands-on experience in system engineering and production support.</li>
                        <li>
                          Many years of experience working with the C-suite level leadership to establish production support 
                          models, implement new technologies, and resolve critical issues impacting various lines of business.
                        </li>
                        <li>Over 20 years of experience working in the financial services industry and supporting enterprise technologies.</li>
                        <li>
                          Over five years of experience as an Employee Network Leader. This experience includes creating professional
                          development and business strategy programs for diverse employees to aid in career development and professional
                          networking.
                        </li>
                        <li>Bachelor of Science in Management Information Systems</li>
                        <li>Certificate in Project Leadership, Management, and Communication</li>
                        <li>Certificate in Communications and Human Relations</li>
                        <li>
                          Technical Competency
                          <ul>
                            <li>Infrastructure: F5 GTM/LTM, Cisco Routers and Switches, VMWare ESX, IBM BladeCenter, HP Proliant</li>
                            <li>Operating Systems: Microsoft Windows Server, Microsoft Windows Workstation, Redhat Linux</li>
                            <li>Enterprise Platforms: Wealth Management Workstation, BPM, SDLC, DevOps, Trading/Order Management, Branch Office Technology</li>
                            <li>BPM Platforms: Appian, Pega, Tibco</li>
                            <li>Federation Technologies: CA Siteminder</li>
                            <li>Application Servers: Apache Tomcat, JBoss, WebLogic, WebSphere, Microsoft IIS & .NET</li>
                            <li>Business Process Management: Appian, Pega, Tibco, ARIS</li>
                            <li>ECM: Documentum, MS SharePoint</li>
                            <li>DevOps: UrbanCode, Cloudbees Jenkins, Microsoft TFS, Ansible, Sonar, Artifactory, Atlassian JIRA, BitBucket</li>
                            <li>Monitoring: JMX, Tivoli, Sitescope, Gomez</li>
                            <li>Database: Oracle, Microsoft SQL Server, MySQL, PostgreSQL</li>
                            <li>Application Performance Management Tools: BMC AppSight, Introscope, TeamQuest</li>
                            <li>Project Management: IT Risk Management, Project Leadership, and Problem Management</li>
                          </ul>
                        </li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Director of Information Technology Candidate
                        &body=Hello Daniel,
                        %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Director of Information Technology candidate.
                        %0D%0A%0D%0AFor quick reference, the ID number is 25338123." 
                        class="btn btn-primary btn-center">Request more information
                      </a>
                    </ul>
                  </blockquote>
                </div>
              </div>

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>