<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Senior Frontend Developer</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <div class="row">
                
                <div class="card candidate">
                    <div class="card-header">
                      <h3>Frontend Developer</h3>
                      <h5>Recruiter: Daniel Wernz</h5>
                      <h6>ID: 25181188</h6>
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <ul>
                            <li>Seven years in Software Development, designing and developing frontend systems using React and Vue.</li>
                            <li>Experience in Unit Testing using Jest.</li>
                            <li>Bachelor of Science in Computer Systems Networking and Telecommunications.</li>
                            <li>Technical Skills: JavaScript, TypeScript, Vue, React, HTML, CSS, jQuery, Bootstrap, PHP, Node.JS, MySQL, PostgreSQL, MongoDB, AWS, Azure</li>
                            <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Frontend Developer Candidate
                            &body=Hello Daniel,
                            %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Frontend Developer candidate.
                            %0D%0A%0D%0AFor quick reference, the ID number is 25181188." 
                            class="btn btn-primary btn-center">Request more information
                          </a>
                        </ul>
                      </blockquote>
                    </div>
                  </div>

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>