<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>LHH MPCs</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <%- include("../partials/jumbotron.ejs"); %>
           

            
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>