<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>

        <!-- Change -->
        <Title>Information Technology Manager</Title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>

            <div class="card candidate">
                <div class="card-header">
                    <!-- Position Title -->
                    <h3>Information Technology Manager</h3>

                    <!-- Recruiter -->
                    <h5>Recruiter: Daniel Wernz</h5>

                    <!-- BH ID -->
                    <h6>ID: 25225767</h6>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul>
                            <!-- Information -->
                            <li>Over 17 proven years of competitive experience in the IT/Software industry.</li>
                            <li>Directed the implementation of a proven software development methodologies.</li>
                            <li>
                                Re-architected the application's platform through consolidating technologies 
                                with a focus on production deliverables and customer needs.
                            </li>
                            <li>Redesigned and coded new interfaces for labs, wearables, resellable products.</li>
                            <li>
                                Adopted modern cutting edge technologies and put agile in practice using scrum 
                                procedures.
                            </li>
                            <li>
                                Designed and coded in Frontend and Backend technologies with open source tools
                                that aided in data migration, improving sales, revenue, profitability, and 
                                business processes.
                            </li>
                            <li>
                                Established TQM environment to improved customer expectations, increased software
                                controls, reduced development cycle time and lowered the cost of software ownership.
                            </li>
                            <ul>Technical Skills:
                                <li>
                                    Technologies: PHP 5/7, Java, Objective-C, GoLang, Node.JS, Codeigniter, Symphony, 
                                    Zend, Laravel, Magento, Drupal, Apache, MVC, OOP, Web Services, SOAP, RESTful APIs,
                                    Streaming, Git, DevOps, CI/CD, Dockers, Containers, PipeLines, Jenkins, Office 365,
                                    HL7, ACORD, SOA, Cloud9, LeightShield, IAC, EC2, Lambda, APIGateway, CDK
                                </li>
                                <li>
                                    Frontend Technologies: JavaScript, Angular, React, Vue, DOM, jQuery, CSS, AJAX, HTML,
                                    Gulp, Grant, SASS, LESS, Metronic
                                </li>
                                <li>
                                    Tools: Atom, VS Code, Jira, ScrumDo, Asana, Basecamp, TFS, BitBucket, XCode,
                                    Android Studios, Netbeans, Eclipse, MuSQL Workbench, Adobe Photoshop, Adobe
                                    Illustrator, ECW for Clinics, OpenSource EMR, Cerner, CoreMedica, CRL, LabCorp, WDL
                                </li>
                                <li>Databases: MySQL, Oracle, Microsoft SQL Server, Blockchain, NoSQL, MongoDB</li>
                                <li>Operating Systems: MacOS, Linux CentOS, Windows 7/8/10</li>
                                <li>Server Management: Hosting Management, Domain Management, Exchange Server Management</li>
                                <li>Cloud Environments: Azure, AWS, GCP</li>
                            </ul>
                            <li>Bachelor of Science in Information Technology</li>

                            <!-- Email -->
                            <!-- mail to recruiter. Change title-->
                            <a href="mailto:daniel.wernz@lhh.com?subject=Requesting Information About Your Information Technology Manager Candidate
                                &cc=Daniel.Wernz@LHH.com
                                &body=Hello Daniel Wernz,
                                %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Information Technology Manager candidate.
                                %0D%0A%0D%0AFor quick reference, the ID number is 25225767." 
                                class="btn btn-primary btn-center">Request more information
                            </a>
                        </ul>
                    </blockquote>
                </div>
            </div>
            
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>