<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Information Technology Manager</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <div class="card candidate">
                <div class="card-header">
                  <h3>Information Technology Manager</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25448603</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>
                          An effective, organized team leader with over 20 years of experience in the area of IT Operations Support 
                          in engineer, lead, and management roles.
                        </li>
                        <li>14 direct reports in multiple geographical locations.</li>
                        <li>Three teams for application/engineering support - TSS (non-stop), WebApps, and Mobility Sys Admin.</li>
                        <li>Scrum Master</li>
                        <li>CompTIA A+ Certification</li>
                        <li>Windows NT 4.0 MCSE Certification</li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Information Technology Manager Candidate
                        &body=Hello Daniel,
                        %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Information Technology Manager candidate.
                        %0D%0A%0D%0AFor quick reference, the ID number is 25448603." 
                        class="btn btn-primary btn-center">Request more information
                      </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>