<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Senior Python Developer</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            
            <div class="card candidate">
                <div class="card-header">
                  <h3>Python Developer</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25356357</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>
                          Over five years of combined work experience in Analysis, Design, Web Application Development, 
                          Management and Implementation of various stand alone, client-server enterprise applications.
                        </li>
                        <li>
                          Experience in developing applications using Agile and Waterfall methodologies, and Scrum stories 
                          in a python-based environment.
                        </li>
                        <li>
                          Proficient in developing web applications implementing Model View Control architecture using 
                          Django and Flask web application frameworks.
                        </li>
                        <li>
                          String foundation in Object-Oriented Programming Principals, and writing extensible, reusable,
                          and maintainable code.
                        </li>
                        <li>Experienced in MVW frameworks like Flask, Angular JS, JavaScript, jQuery, and Node.JS.</li>
                        <li>
                          Experience in Amazon Web Services (AWS) cloud platform like EC2, Virtual private clouds (VPCs), 
                          Storage models (EBSm S3, instance storage), Elastic Load Balancers (ELBs).
                        </li>
                        <li>Experience in Python Development and Scientific Programming, and using NumPy and Pandas in
                          Python for Data Manipulation.
                        </li>
                        <li>Experience in developing and implementing Web Services using REST, SOAP, WSDL.</li>
                        <li>Experience in working with Python ORM libraries including Django, ORMm SQLAlchemy.</li>
                        <li>Experience in writing Subqueries, Stored Procedures, Triggers, Cursors, and Functions with MySQL and PostgreSQL databases.</li>
                        <li>Master of Business Administration from IIPM.</li>
                        <li>Bachelor of Technology in Computer Science from JNTUK.</li>
                        <li>Technical Skills:
                          <ul>
                            <li>Languages: Python, PL/SQL, TypeScript, XML</li>
                            <li>Frontend Technologies: HTML, CSS, JavaScript, Bootstrap, AJAX, JSON, jQuery</li>
                            <li>Frameworks: Django, Flask, Angular (2, 4, 5, 6, 7, 8, 9, 10, 11)</li>
                            <li>Cloud: AWS</li>
                            <li>Databases: MySQL, PostgreSQL, Oracle, MongoDB</li>
                            <li>IDEs: PyCharm, Visual Studio, Eclipse, Sublime Text Editor, Notepad++</li>
                            <li>Version Control Tools: Git, GitHub</li>
                            <li>Build Tools: Maven, Jenkins</li>
                            <li>Tracking Tools: JIRA</li>
                            <li>Methodologies: Agile, Waterfall, TDD</li>
                            <li>Operating System: Windows, Linux, UNIX</li>
                          </ul>
                        </li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Python Developer Candidate
                        &body=Hello Daniel,
                        %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Python Developer candidate.
                        %0D%0A%0D%0AFor quick reference, the ID number is 25356357." 
                        class="btn btn-primary btn-center">Request more information
                      </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>