<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>

        <!-- Change -->
        <Title>Senior Java Developer</Title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>

            <div class="card candidate">
                <div class="card-header">
                    <!-- Position Title -->
                    <h3>Senior Java Developer</h3>

                    <!-- Recruiter -->
                    <h5>Recruiter: Daniel Wernz</h5>

                    <!-- BH ID -->
                    <h6>ID: 25528088</h6>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <ul>
                            <!-- Information -->
                            <li>
                                Motivated Software Engineer with over six years of Java / J2EE experience working 
                                all phases of the software development life cycle for software solutions and 
                                applications.
                            </li>
                            <li>
                                Valued team member who implements software using Java, performs tests, and debugs
                                applications to optimize functionality and performance.
                            </li>
                            <ul>Technical Skills:
                                <li>Languages: Java 7 & Up, JavaScript, C#, C, C++, Java FX</li>
                                <li>
                                    Web: CSS, HTML, jQuery, AJAX, JSON, Servlet, JavaScript, XML, JSP, Thymeleaf,
                                    Angular CLI, and Node.JS
                                </li>
                                <li>Web Services: SOAP, RESTful APIs, and Microservices</li>
                                <li>Web/App Servers: Tomcat, WebSphere</li>
                                <li>Frameworks: Spring Framework, Spring Boot, Hibernate</li>
                                <li>
                                    Databases: MySQL, Microsoft SQL Server, PostgreSQL, Microsoft Access, Oracle,
                                    SQLite, H2
                                </li>
                                <li>
                                    Design Patterns: Factory Method, Template Method, Singleton, Builder, State,
                                    Proxy, Facade, MVC, Observer, Strategy, Chain of Responsibility
                                </li>
                                <li>
                                    System Development Lifecycle: Agile/Scrum, Waterfall, Extreme Programming
                                    and TDD, DevOps
                                </li>
                                <li>
                                    Tools: Net Beans, MERISE, UML, Eclipse, Visual Studio, Visual Studio Code,
                                    IntelliJ IDEA, Trello, Git, BitBucket, GitHub, Visio, MySQL Workbench,
                                    Maven, Jenkins, JUnit, Mockito, Jira, Slack, Confluence, SonarQube, Raven,
                                    Grade
                                </li>
                                <li>Platforms: Windows, LINUX</li>
                            </ul>
                            <li>Master of Science in Computer Science - Maharishi University of Management</li>
                            <li>Certificate in Computer Science - UQAM</li>
                            <li>Bachelor of Science in Computer Science - University of Inuka</li>

                            <!-- Email -->
                            <!-- mail to recruiter. Change title-->
                            <a href="mailto:daniel.wernz@lhh.com?subject=Requesting Information About Your Senior Java Developer Candidate
                                &cc=Daniel.Wernz@LHH.com
                                &body=Hello Daniel Wernz,
                                %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Senior Java Developer candidate.
                                %0D%0A%0D%0AFor quick reference, the ID number is 25528088." 
                                class="btn btn-primary btn-center">Request more information
                            </a>
                        </ul>
                    </blockquote>
                </div>
            </div>
            
        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>