<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); %>
        <title>Senior Xamarin Developer</title>
    </head>
    <body class="container">
        <header>
            <%- include("../partials/header"); %>
        </header>

        <main>
            <div class="card candidate">
                <div class="card-header">
                  <h3>Xamarin Developer</h3>
                  <h5>Recruiter: Daniel Wernz</h5>
                  <h6>ID: 25581118</h6>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <ul>
                        <li>Over nine years of Xamarin experience - Cross platform native UIs in XAML and MVVM patter.</li>
                        <li>Over 15 years of experience with C# with Visual Studio .NET</li>
                        <li>Beta tester for Xamarin MAUI. Six months of experience, and MAUI has been public for one month.</li>
                        <li>Technical Skills: 
                          <ul>
                            <li>ASP.NET Core 2.0, 2.2, and 3.1x, EF Core. ASP.NET MVC 4, and 5</li>
                            <li>Entity Framework and Microsoft SQL Server</li>
                            <li> Web API, Oath2, HTML, DHTML, CSS, jQuery, JavaScript</li>
                          </ul>
                        </li>
                        <li>Bachelor of Science in Computer Science</li>
                        <a href="mailto:Daniel.Wernz@LHH.com?subject=Requesting Information About Your Xamarin Developer Candidate
                        &body=Hello Daniel,
                        %0D%0A%0D%0AI would like to schedule a call at your earliest convenience to discuss your Xamarin Developer candidate.
                        %0D%0A%0D%0AFor quick reference, the ID number is 25581118." 
                        class="btn btn-primary btn-center">Request more information
                      </a>
                    </ul>
                  </blockquote>
                </div>
              </div>
            

        </main>

        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>